/* .main{
    width: 100%;
    height: 96vh;
}

.btn{
    position: absolute;
    top: 0;
    right: 0;
}
.light{
    background-color: rgb(245, 156, 156);
}
.dark{
    background-color: black;
} */


/* 
#clivck{
    background-color: none;
    border: none;
    color: rgb(0, 0, 175);
} */

/* 
.main{
    height: 100vh;
    width: 100%;
    background-image:url(https://www.rotational.co.uk/assets/images/yMLAGVx.gif) ;
    background-size: cover;
    position: relative;
}

.character{
    width: 300px;
    height: 200px;
    object-fit: contain;
    position: absolute;
    bottom: 10px;
} */