/* .main{
    width: 100%;
    height: 96vh;
}

.btn{
    position: absolute;
    top: 0;
    right: 0;
}
.light{
    background-color: rgb(245, 156, 156);
}
.dark{
    background-color: black;
} */



#clivck{
    background-color: none;
    border: none;
    color: rgb(0, 0, 175);
}